{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wordplease{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>
<body class="container">
    <nav>

        <a href="{% url 'home' %}">Home</a>
        |
        {% if user.is_authenticated %}
        Hola {{ user.first_name }},
        <a href="{% url 'create-post' %}">New Post</a>
        |
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        |
        <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
        <hr>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>